/* body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-color: white;
    margin: 20px;
    padding: 0;
} */

/* This is a comment, by the way */

/* p {
    line-height: 21px;
}

h1 {
    color: white;
    background-color: grey;
    font-size: 3em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.2em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: black;
}

h2 {
    color: white;
    background-color: #090;
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
}

h3 {
    color: #999;
    font-size: 1.25em;
}

img {
    border-style: dashed;
    border-width: 2px;
    border-color: #ccc;
}

a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

li {
    color: black;
    font-family: arial;
    font-size: 1.25em;
}

table {
    background-color: #ccc;
}

ul {
    color: black;
    font-family: arial;
    font-size: 1.25em;
}

#scene {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
} */

/* .scenic{
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 
    animation-name: example;
    animation-duration: 1s;
    -webkit-transition: width 2s;
    transition:all 1s ease;
} */

/* Safari 4.0 - 8.0 */
/* @-webkit-keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
} */

/* Standard syntax */
/* @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
} */

h1 { color: #111; font-family: 'Open Sans Condensed', sans-serif; font-size: 64px; font-weight: 700; line-height: 64px; margin: 0 0 0; padding: 20px 30px; text-align: center; text-transform: uppercase; }


h2 { color: #111; font-family: 'Open Sans Condensed', sans-serif; font-size: 48px; font-weight: 700; line-height: 48px; margin: 0 0 24px; padding: 0 30px; text-align: center; text-transform: uppercase; }


p { color: #111; font-family: 'Open Sans', sans-serif; font-size: 16px; line-height: 28px; margin: 0 0 48px; }


a { color: #990000; text-decoration: none; }


a:hover { text-decoration: underline }


.date { color: #111; display: block; font-family: 'Open Sans', sans-serif; font-size: 16px; position: relative; text-align: center; z-index: 1; }


.date:before { border-top: 1px solid #111; content: ""; position: absolute; top: 12px; left: 0; width: 100%; z-index: -1; }


.author { color: #111; display: block; font-family: 'Open Sans', sans-serif; font-size: 16px; padding-bottom: 38px; position: relative; text-align: center; z-index: 1; }


.author:before { border-top: 1px solid #111; content: ""; position: absolute; top: 12px; left: 0; width: 100%; z-index: -1; }


.date span,

.author span { background: #fdfdfd; padding: 0 10px; text-transform: uppercase; }


.line { border-top: 1px solid #111; display: block; margin-top: 60px; padding-top: 50px; position: relative; }


.read-more { -moz-border-radius: 50%; -moz-transition: all 0.2s ease-in-out; -webkit-border-radius: 50%; -webkit-transition: all 0.2s ease-in-out; background: #111; border-radius: 50%; border: 10px solid #fdfdfd; color: #fff; display: block; font-family: 'Open Sans', sans-serif; font-size: 14px; height: 80px; line-height: 80px; margin: -40px 0 0 -40px; position: absolute; bottom: 0px; left: 50%; text-align: center; text-transform: uppercase; width: 80px; }


.read-more:hover { background: #990000; text-decoration: none; }

